*.project
*.classpath
.settings/

.idea/artifacts/yohobuy_platform_web_war.xml
.idea/artifacts/yohobuy_platform_web_war_exploded.xml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/libraries/Maven__ch_qos_logback_logback_classic_1_0_13.xml
.idea/

*.class
suggest/bin/pom.xml
suggest/bin/.gitignore
target/classes/rebel.xml
